@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .animate-delay-100 {
    animation-delay: 0.1s;
  }
  .animate-delay-200 {
    animation-delay: 0.2s;
  }
  .animate-delay-300 {
    animation-delay: 0.3s;
  }
  .animate-delay-400 {
    animation-delay: 0.4s;
  }
  .animate-delay-500 {
    animation-delay: 0.5s;
  }
  .animate-delay-600 {
    animation-delay: 0.6s;
  }
  
  .bg-animated-gradient {
    background: linear-gradient(270deg, #dc2626, #991b1b, #7f1d1d);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
  }
  
  .text-animated-gradient {
    background: linear-gradient(90deg, #dc2626, #ef4444, #f87171, #dc2626);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
  }
}
